@charset "utf-8";

body {
  padding: 0px;
  margin: 0px;
}

/*Aplica o padding apenas quando o menu nao estah sendo exibido*/
@media (min-width: 992px) {
  .menu-li {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.fundo-jumbotron {
  /* Browsers antigos */
  background: #319ebc;
  /* Firefox 3.6-15 */
  background: -moz-linear-gradient(top,  #319ebc 0%, #ffffff 43%, #ffffff 62%, #d8d8d8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top,  #319ebc 0%,#ffffff 43%,#ffffff 62%,#d8d8d8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom,  #319ebc 0%,#ffffff 43%,#ffffff 62%,#d8d8d8 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#319ebc', endColorstr='#d8d8d8',GradientType=0 );
}

/*Margem e espaçamento relativo ao menu fixo*/
.margin-fixada {
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

/*Classes para o rodape - footer-class principal*/
.footer-class{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-class .footer-esquerda,
.footer-class .footer-center,
.footer-class .footer-direita{
	display: inline-block;
	vertical-align: top;
}

/* Footer parte esquerda */
.footer-class .footer-esquerda{
	width: 40%;
}

/* System House img */
.footer-class h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-class h3 img{
  width: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-class h3 span{
	color:  #5383d3;
}

/* Footer links */
.footer-class .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-class .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-class .footer-empresa{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-class .footer-center{
	width: 35%;
}

.footer-class .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-class .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-class .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-class .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:12px;
	line-height:1.5;
}

.footer-class .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}

/* Footer parte direita */
.footer-class .footer-direita{
	width: 20%;
}

.footer-class .footer-sobre{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  text-align: justify;
}

.footer-class .footer-sobre span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-class .footer-icones{
	margin-top: 25px;
}

.footer-class .footer-icones a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Media queries para fazer o rodapé ser responsivo */

@media (max-width: 880px) {

	.footer-class{
		font: bold 14px sans-serif;
	}

	.footer-class .footer-esquerda,
	.footer-class .footer-center,
	.footer-class .footer-direita{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-class .footer-center i{
		margin-left: 0;
	}

}
/*Fim classes rodape*/

/*CSS para o formulário*/
.formContato {
    width: 70%;
}

.formContato p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.formContato input {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

.formContato textarea {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

.botaoContato {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
}

.pgContato input {
    padding-left: 10px;
    color: #292929;
    font-size: 14px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.pgContato textarea {
    padding-left: 10px;
    color: #292929;
    font-size: 14px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 100px;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.botaoContato {
    border-radius: 4px;
    color: #fff;
    padding: 2px 20px;
    height: 30px;
    margin-top: 18px;
    opacity: 0.5;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B22222;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
}

.botaoContato:hover {
    opacity: 1.0;
    transition: 0.5s;
}

/*CSS para Mapa*/
.mapa {
    margin-top: 100px;
}


/*CSS pag SobreNos*/

.sobre_nos{
	background-color: #007bff;
	text-align: center;
	color: white;
	border: 5px solid white;
	font-family: Arial, Helvetica, sans-serif;
	margin:auto;
	margin-bottom: 10px;
    padding-top: 5px;	
}
.sobre_cont{
	background-color: #007bff;
	text-align: center;
	color: white;
	border: 5px solid white;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
    padding-top: 5px;
}

.sobre-img{
	text-align: center;
	margin-bottom: 10px;
}
